 <nav class="navbar navbar-expand-md navbar-dark sticky-top fixed-top bg-dark">
    <a class="navbar-brand" href="/">School Data</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/dashboard" >Dashboard</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link " routerLink="/income">Income</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/expenditure">Expenditures</a>
        </li>

      </ul>
    </div>
  </nav>
 <router-outlet></router-outlet>







